/* -- Begin social sharing buttons
------------------------------------------------------------- */

.socialite {
    padding-left: 0;
    list-style: none;
}


[class*="socialite-link-"] {
    font-size: .875em;
    border-radius: 2px;
    border: 1px solid;
    box-shadow: 0 0 .5em #999;
    transition: background-color ease-in-out .5s, color ease-in-out .5s, border-color ease-in-out .5s, box-shadow ease-in-out .5s;
    width: 16px;
    height: 16px;
}

[class*="socialite-link-"]:hover {
    box-shadow: 0 0 1em #666;
}

[class*="socialite-link-name-"] {
    padding: .25em .25em .25em 1.75em;
}

[class*="socialite-link-icon-"],
[class*="socialite-link-color-"] {
    padding: .25em .25em .25em .25em;
}

[class*="socialite-link-color-"],
[class*="socialite-link-color-"]:hover {
      color: #ffffff;
}


[class*="socialite-item-name-"],
[class*="socialite-item-icon-"] {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 5px center;
}

[class*="socialite-item-"] {
    display: inline-block;
    margin: .25em;
    line-height: 24px;
}

[class*="socialite-item-"] a:link,
[class*="socialite-item-"] a:visited {
    text-decoration: none;
}

[class*="socialite-item-name-"] a:link,
[class*="socialite-item-name-"] a:visited,
[class*="socialite-item-icon-"] a:link,
[class*="socialite-item-icon-"] a:visited {
    color: #000000;
}

[class*="socialite-item-color-"] a:link,
[class*="socialite-item-color-"] a:visited {
    color: #ffffff;
}


/*
 * Social network specific settings
 */

/* Twitter */
.socialite-item-name-twitter {
    background-image: url("images/twitter.ico");
}
.socialite-link-icon-twitter{
    content:url("images/twitter.ico");
}

.socialite-link-name-twitter,
.socialite-link-icon-twitter,
.socialite-link-color-twitter {
    border-color: #41b7d8;
}

.socialite-link-color-twitter {
    background-color: #41b7d8;
}

.socialite-link-color-twitter:hover,
a .socialite-link-color-twitter:hover {
    background-color: #238caa;
    border-color: #238caa;
}

/* Facebook */
.socialite-item-name-facebook {
    background-image: url("images/facebook.ico");
}

.socialite-link-icon-facebook{
    content:url("images/facebook.ico");
}

.socialite-link-name-facebook,
.socialite-link-icon-facebook,
.socialite-link-color-facebook {
    border-color: #3b5997;
}

.socialite-link-color-facebook {
    background-color: #3b5997;
}

.socialite-link-color-facebook:hover,
a .socialite-link-color-facebook:hover {
    background-color: #263960;
    border-color: #263960;
}

/* Google+ */
.socialite-item-name-googleplus {
    background-image: url("images/googleplus.ico");
}

.socialite-link-icon-googleplus{
    content:url("images/googleplus.ico");
}

.socialite-link-name-googleplus,
.socialite-link-icon-googleplus,
.socialite-link-color-googleplus {
    border-color: #d64937;
}

.socialite-link-color-googleplus {
    background-color: #d64937;
}

.socialite-link-color-googleplus:hover,
a .socialite-link-color-googleplus:hover {
    background-color: #a02f21;
    border-color: #a02f21;
}

/* LinkedIn */
.socialite-item-name-linkedin {
    background-image: url("images/linkedin.ico");
}

.socialite-link-icon-linkedin{
    content:url("images/linkedin.ico");
}

.socialite-link-name-linkedin,
.socialite-link-icon-linkedin,
.socialite-link-color-linkedin {
    border-color: #0073b2;
}

.socialite-link-color-linkedin {
    background-color: #0073b2;

}

.socialite-link-color-linkedin:hover,
a .socialite-link-color-linkedin:hover {
    background-color: #004265;
    border-color: #004265;
}

/* Pinterest */
.socialite-item-name-pinterest {
    background-image: url("images/pinterest.ico");
}

.socialite-link-icon-pinterest{
    content:url("images/pinterest.ico");
}

.socialite-link-name-pinterest,
.socialite-link-icon-pinterest,
.socialite-link-color-pinterest {
    border-color: #cb2027;
}

.socialite-link-color-pinterest {
    background-color: #cb2027;
}

.socialite-link-color-pinterest:hover,
a .socialite-link-color-pinterest:hover {
    background-color: #89161a;
    border-color: #89161a;
}

/* Tumblr */
.socialite-item-name-tumblr {
    background-image: url("images/tumblr.ico");
}

.socialite-link-icon-tumblr{
    content:url("images/tumblr.ico");
}

.socialite-link-name-tumblr,
.socialite-link-icon-tumblr,
.socialite-link-color-tumblr {
    border-color: #35465c;
}

.socialite-link-color-tumblr {
    background-color: #35465c;
}

.socialite-link-color-tumblr:hover,
a .socialite-link-color-tumblr:hover {
    background-color: #19212b;
    border-color: #19212b;
}

/* Reddit */
.socialite-item-name-reddit {
    background-image: url("images/reddit.ico");
}

.socialite-link-icon-reddit{
    content:url("images/reddit.ico");
}

.socialite-link-name-reddit,
.socialite-link-icon-reddit,
.socialite-link-color-reddit {
    border-color: #ff5700;
}

.socialite-link-color-reddit {
    background-color: #ff5700;
}

.socialite-link-color-reddit:hover,
a .socialite-link-color-reddit:hover {
    background-color: #b33d00;
    border-color: #b33d00;
}

/* Taringa */
.socialite-item-name-taringa {
    background-image: url("images/taringa.ico");
}

.socialite-link-icon-taringa{
    content:url("images/taringa.ico");
}

.socialite-link-name-taringa,
.socialite-link-icon-taringa,
.socialite-link-color-taringa {
    border-color: #005dab;
}

.socialite-link-color-taringa {
    background-color: #005dab;
}

.socialite-link-color-taringa:hover,
a .socialite-link-color-taringa:hover {
    background-color: #004178;
    border-color: #004178;
}

/* Xing */
.socialite-item-name-xing {
    background-image: url("images/xing.ico");
}

.socialite-link-icon-xing{
    content:url("images/xing.ico");
}

.socialite-link-name-xing,
.socialite-link-icon-xing,
.socialite-link-color-xing {
    border-color: #175e60;
}

.socialite-link-color-xing {
    background-color: #175e60;
}

.socialite-link-color-xing:hover,
a .socialite-link-color-xing:hover {
    background-color: #082222;
    border-color: #082222;
}

/* Vk */
.socialite-item-name-vk {
    background-image: url("images/vk.ico");
}

.socialite-link-icon-vk{
    content:url("images/vk.ico");
}

.socialite-link-name-vk,
.socialite-link-icon-vk,
.socialite-link-color-vk {
    border-color: #5e82a8;
}

.socialite-link-color-vk {
    background-color: #5e82a8;
}

.socialite-link-color-vk:hover,
a .socialite-link-color-vk:hover {
    background-color: #415c78;
    border-color: #415c78;
}

/* Email */
.socialite-item-name-email {
    background-image: url("images/email.ico");
}

.socialite-link-icon-email{
    content:url("images/email.ico");
}

.socialite-link-name-email,
.socialite-link-icon-email,
.socialite-link-color-email {
    border-color: #f4b83f;
}

.socialite-link-color-email {
    background-color: #f4b83f;
}

.socialite-link-color-email:hover,
a .socialite-link-color-email:hover {
    background-color: #ab7b2c;
    border-color: #ab7b2c;
}
